
.contactRow {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}


.contact {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.contactContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: rgb(70, 70, 70);
    border-radius: 6px;
}


.contactContainer .cmdIcon {
    display: none;
}

.contactContainer:hover .cmdIcon {
    display: block;
}

.contactLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.contactName {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.contactPhone {
    color: white;
}

.contactEmail {
    color: white;
}

.contactCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.contactdeleteForm {
    margin: 20px;
}

.big-favicon {
    text-align: center;
    background-image: url("../bookmark_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin-right: 5px;
}